@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*  Hero shap divider */

.custom-shape-divider-bottom-1733166493 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1733166493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.custom-shape-divider-bottom-1733166493 .shape-fill {
  fill: #ffffff;
}

/* Hero slider  */

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background: rgba(255, 255, 255, 0.1);
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  backdrop-filter: blur(4px);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem !important;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  width: 1rem !important;
  border-radius: 0.5rem !important;
}
